.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-color: #d2d8e1;
}

.hero-section .hero-title {
  margin-bottom: 1rem;
  margin-top: 10px;
  font-size: 6rem;
  color: black;
  font-weight: 500;
  line-height: 1;
}

.hero-section .hero-subtitle {
  margin-bottom: 6rem;
  font-size: 1.25rem;
  color: black;
  width: 60%;
}

.images-container img {
  position: absolute;
  width: 280px;
  height: 595px;
  border-radius: 6px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-out;
}

.images-container {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.image1:hover,
.image3:hover {
  transform: translateY(-10px) scale(1);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.image2:hover {
  transform: translateY(-10px) scale(1);
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.image1 {
  z-index: 1; /* Layered behind image2 */
  left: 50%; /* Start from the center */
  transform: translateX(-100%);
  width: 100px;
}

.image2 {
  z-index: 2; /* On top of the other images */
  left: 50%; /* Start from the center */
  transform: translateX(-50%); /* Center the image exactly */
  width: 100px;
}

.image3 {
  z-index: 3; /* Layered behind image2 */
  left: 50%; /* Start from the center */
  transform: translateX(0%);
  width: 100px;
}

.hero-section .download-btn {
  padding: 1.5rem 4rem;
  background: linear-gradient(to right, #22c55e, #3c7141);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 7% auto 9% auto;
}

.download-btn:hover {
  background: linear-gradient(to right, #167f3d, #1f3a21);
}

@media (max-width: 768px) {
  .hero-section {
      padding: 1rem; 
  }

  .hero-section .hero-title {
    margin-bottom: 1rem;
    font-size: 5rem;
  }
  .hero-section .hero-subtitle {
    margin-bottom: auto;
    font-size: 1.2rem;
    width: 90%;
  }

  .images-container img {
    margin-top: -100px;
    width: 150px;
    height: 320px;
  }

  .hero-section .download-btn {
    margin-bottom: 70px;
    margin-top: -90px;
  }
}
