.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #d2d8e1;
  margin-left: -15px;
}


.navbar .logo {
  max-width: 25em;
  height: auto;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 1em 0 1em;
    margin-left: auto;
  }
  
  .navbar .logo {
    height: auto; 

  }

}
